.fact {
  width: 81%;
  min-height: 503px;
  max-width: 1166px;
  margin: 0 auto;
  padding-top: 150px;
}

.fact__title {
  margin: 0;
  padding-bottom: 22px;

  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.005em;
  color: $color-black2;
}

.fact__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fact__item {
  width: 22%;
}

.fact__number {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 136%;
  text-align: center;
  letter-spacing: -1.27273px;
  color: $color-aqua;
}

.fact__text {
  margin: 0;
  padding-top: 16px;

  font-size: 22px;
  line-height: 155%;
  text-align: center;
  letter-spacing: -0.5px;
  color: $color-black;
}

@media (max-width: $tablet-width) {
  .fact {
    min-height: 489px;
    padding-top: 64px;
  }

  .fact__title {
    font-size: 24px;
    line-height: 41px;
    padding-bottom: 1px;
  }

  .fact__list {
    min-width: 550px;
    width: 70%;
    margin: 0 auto;
  }

  .fact__item {
    width: 263px;
    padding-bottom: 15px;
  }
}

@media (max-width: $mobile-width) {
  .fact {
    width: auto;
    min-height: 836px;
    padding-top: 71px;
  }

  .fact__list {
    justify-content: center;

    min-width: auto;
    padding-top: 32px;
  }

  .fact__item {
    width: 278px;
  }

  .fact__number {
    margin: 0;

    font-family: "Overpass", "Arial", sans-serif;
    font-size: 28px;
    line-height: 136%;
  }

  .fact__text {

    padding-top: 16px;
    padding-bottom: 22px;

    font-family: "Overpass", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 189%;
    letter-spacing: 0.3px;
  }
}
