.nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 61%;
  max-width: 873.5px;
  padding: 0 20px;

  border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 61px;
  padding-top: 12px;
}

.nav__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 200%;
  letter-spacing: -0.005em;

  color: rgba($color: $color-white, $alpha: 0.7);

  &:active {
    color: rgba($color: $color-white, $alpha: 0.7);
  }
}

@media (min-width: $desktop-width) {
  .nav__link:hover,
  .nav__link:focus {
    color: $color-white;
  }
}

@media (max-width: $tablet-width) {
  .nav {
    position: relative;

    display: none;

    width: 100%;
    min-height: 100vh;
    padding: 0;

    &--no-js {
      display: block;
    }

    &--active {
      display: block;
      position: absolute;
      top: 0;

      background-color: $color-white;
    }
  }

  .nav__list {
    flex-direction: column;

    width: 100%;
    padding-top: 100px;
  }

  .nav__item {
    width: 100%;
    padding-bottom: 30px;
  }

  .nav__link {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 60px;
    padding-left: 5%;
    padding-right: 35px;

    font-size: 20px;
    line-height: 140%;
    color: #48494d;

    background-color: $color-lightgray;

    &:active {
      color: rgba($color: #48494d, $alpha: 0.6);
    }
  }
}
