.velo {
  min-height: 1038px;

  background-color: #f6f7f9;
}

.velo__wrapper {
  width: 86.5%;
  max-width: 1154px;
  margin: 0 auto;
  padding-top: 150px;
  padding-left: 24px;
}

.velo__title {
  margin: 0;
  padding-right: 36px;
  padding-bottom: 50px;

  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.005em;
  color: $color-black;
}

.velo__list {
  position: relative;
  min-height: 651px;
}

.velo__item {
  position: absolute;

  &--left {
    top: 10px;
    left: 0;
  }

  &--middle {
    top: 39px;
    left: 50%;
    transform: translateX(-50%);
  }

  &--right {
    top: 0;
    right: 0;
  }
}

.velo__image {
  position: relative;
  z-index: 10;

  display: block;

  &::before,
  &::after {
    position: absolute;
    content: "";

    width: 31px;
    height: 31px;

    border: 8px solid $color-aqua;
  }

  &--left::before {
    top: 49%;
    left: 32px;
    transform: translate(-50%, -50%);
    z-index: -1;

    width: 126px;
    height: 126px;

    border: 27px solid $color-aqua;
    border-radius: 50%;
  }

  &--left::after,
  &--right::after {
    display: none;
  }

  &--middle::before {
    top: 5px;
    left: 5px;
    transform: translate(-50%, -50%);
  }

  &--middle::after {
    right: -46px;
    bottom: -46px;
    transform: translate(-50%, -50%);
  }

  &--right::before {
    top: -32px;
    right: -34px;

    width: 60px;
    height: 60px;

    border: 17px solid $color-aqua;
    border-radius: 50%;
  }
}

.velo__text {
  font-weight: 600;
  font-size: 22px;
  line-height: 155%;
  text-align: center;
  letter-spacing: -0.5px;
  color: $color-black;
}

@media (max-width: $tablet-width) {
  .velo {
    min-height: auto;
  }

  .velo__wrapper {
    width: 83%;
    min-height: 949px;
    padding-top: 50px;
  }

  .velo__title {
    padding-bottom: 30px;

    font-size: 24px;
    line-height: 171%;
  }

  .velo__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    min-width: 600px;
    width: 70%;
    margin: auto;
  }

  .velo__item {
    position: initial;
    transform: none;

    width: 270px;
    padding-bottom: 26px;

    &--right {
      margin: 0 auto;
    }
  }

  .velo__image {
    &--left::before {
      top: 88.3%;
      left: 26px;

      width: 91px;
      height: 91px;

      border: 18px solid $color-aqua;
    }

    &--middle::before,
    &--middle::after {
      display: none;
    }

    &--right::before {
      top: -20px;
      right: -25px;
      width: 42px;
      height: 42px;

      border: 13px solid $color-aqua;
    }
  }

  .velo__image img {
    width: 270px;
    height: 300px;
  }
}

@media (max-width: $mobile-width) {
  .velo__wrapper {
    width: auto;
    min-height: 1322px;
    padding-left: 0;
  }

  .velo__title {
    padding-right: 0;
    padding-bottom: 31px;
  }

  .velo__list {
    min-width: auto;
    width: 320px;
    justify-content: center;
  }

  .velo__item {
    padding-bottom: 18px;
  }

  .velo__image {
    &--left::before {
      left: 40px;
    }

    &--right::before {
      right: -15px;
    }
  }
}
