.video {
  min-height: 945px;
  padding-top: 120px;

  background-image: linear-gradient(to bottom, #131314 706px, $color-white 706px);
}

.video__title {
  margin: 0;

  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.005em;
  color: $color-white;
}

.video__text {
  display: block;

  width: 340px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 56px;

  font-weight: 300;
  font-size: 16px;
  line-height: 175%;
  text-align: center;
  letter-spacing: -0.005em;
  color: rgba($color: $color-white, $alpha: 0.7);
}

.video__player {
  position: relative;

  width: 929px;
  max-width: 100%;
  height: 522px;
  margin: 0 auto;

  background-image: url("../img/player-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.video__control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 65px;
  height: 65px;

  background-color: $color-aqua;
  background-image: url("../img/play.svg");
  background-position: 28px;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.95;
  }

  &:active {
    opacity: 0.85;
  }
}

@media (max-width: $tablet-width) {
  .video {
    min-height: 550px;
    padding-top: 70px;

    background-image: linear-gradient(to bottom, #131314 413px, $color-white 413px);
  }

  .video__title {
    font-size: 24px;
    line-height: 30px;
  }

  .video__text {
    width: 429px;
    padding-bottom: 40px;
  }

  .video__player {
    width: 503px;
    height: 282px;

    background-image: url("../img/player-tablet.jpg");
  }

  .video__control {
    width: 91px;
    height: 91px;

    background-position-x: 39px;
    background-size: 19px 25px;
  }
}

@media (max-width: $mobile-width) {
  .video {
    width: 100%;
    min-height: 485px;
    padding-top: 84px;

    background-image: linear-gradient(to bottom, #131314 384px, $color-white 384px);
  }

  .video__text {
    width: 288px;
    padding-bottom: 53px;
  }

  .video__player {
    width: 90%;
    height: 162px;

    background-image: url("../img/player-mobile.png");
  }

  .video__control {
    width: 65px;
    height: 65px;

    background-size: 13px 18px;
    background-position-x: 28px;
  }
}
